# Android Studio specific files
.idea/
*.jks
*.keystore

# Gradle specific files
*.gradle
gradle/wrapper/gradle-wrapper.jar
/build/
release/

# Output files
*.apk
*.ap_
*.class
*.dex
*.aar
*.res

# Temporary files
captures/
*.log
*.obj
*.out
*.pro
*.tmp

# Test coverage reports
coverage/

# IDE generated assets
assets/

# Profiling results
*.hprof

# External build tools
.externalNativeBuild/
CXX/

# Additional files
.DS_Store
local.properties
.gradle/